#app-form input {vertical-align: middle;}
#url-submit {padding: 5px 0px 4px 0px;}
#clr-input-button {top: 189px; left: 53px; width: 83px; height: 41px;}
#alert-app-error {top: 116px; left: 93px;}
#how-to {left: 55px;}